name: Deploy portfolio to GH Pages

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.4
      - name: Install dependencies
        run: bun ci
      - name: Build the app
        run: bun run build
      - name: Show out content
        run: ls -lptrah out
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
          cname: marianferenc.space
